<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/css/navbar.css">
 <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">

</head>
<body>
   
   <ul>
    
       <li>
        <li class="righty"><a href="/home">Notes</a>
        <li class="righty"><a href="/insert">Insert</a>
            <li class="righty"><a href="/profile">Profile</a>
        <li class="righty"><a href="/logout">Logout</a>
  
       
      
       </li>

   
   </ul>

    
</body>
</html>