<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/insert.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Your Notes</title>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <br><br>
    <div class="container">
        <form action ="/viewnotes" method="POST">
            <% if (records!== null) {%>
          <label for="lname">Title</label>
          <input type="text" id="title" name="title" value = "<%= records[0].title %>" >
      
          <label for="subject">Message</label>
          <textarea id="subject" name="subject"   style="height:200px"><%= records[0].message %></textarea>
          <input type="hidden" name="id" value = "<%= records[0].id %>" >
            
          <input type="submit"   value="Save Changes">
          <a class="btn btn-secondary" role="button" href="/home"> Back </a>
         
         
         
          <%}%>
        </form>
      
      </div>
</body>
</html>